<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.silabs.ide.si32.debug.launch">
<stringAttribute key="com.silabs.ide.debug.core.DEFAULT_ADAPTER" value=""/>
<stringAttribute key="com.silabs.ide.debug.core.ERASE_METHOD" value="page"/>
<stringAttribute key="com.silabs.ide.debug.core.KIT" value=""/>
<stringAttribute key="com.silabs.ide.debug.core.MCU" value=""/>
<booleanAttribute key="com.silabs.ide.debug.core.RUN_FROM_RESET" value="true"/>
<booleanAttribute key="com.silabs.ide.debug.core.SMART_DOWNLOAD" value="false"/>
<stringAttribute key="com.silabs.ide.si32.debug.CONNECT_METHOD" value="normal"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN_SYMBOL" value="main"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="GNU ARM v4.7.3 - Release/GlassCommunication.axf"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="GlassCommunication"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GlassCommunication"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
